html,body{
    height: 100%;
    width: 100%;
    padding:0px;
    margin: 0px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.await{
    position:fixed;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    display: none;
    /* border: solid 1px red; */
    background:url(./circle.png) no-repeat;
    
    z-index:3;  
    animation: circle 2s infinite linear;
}
.cover{ 
    position:fixed;
    left:0px;top:0px;
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    display: none;
    filter:alpha(opacity=70);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    z-index:2; 
    background: linear-gradient(to bottom, #ffa5a5 0%,#ffd3d3 100%); 
}
@keyframes circle
{
    from {
        transform: rotate(0deg);    
    }
    to {
        transform: rotate(360deg);
    }
}