.number{
    width: 38px;
    padding: 0px 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.ball{
    display: inline-block;
    zoom: 1;
    height: 34px;
    width: 34px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid#f1f4d7;
    cursor: pointer;
    line-height: 39px;
    font-size: 16px;
    font-family: Arial;
    font-weight: 700;
    user-select: none;
}
.times{
    font-size: 12px;
    width: 45px;
    padding: 2px 0px;
    color:#a5a5a5;
}