.random{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.random-top{
    width: 558px;
    height: 180px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.random-bottom{
    width: 828px;
    height: 47px;

    display: flex;
    flex-direction: row;
    justify-content: center;

}